@model TrackingSystem.ViewModels.CandidateVM

@{
    ViewData["Title"] = "Edit user";
}

<h1>Register user</h1>

<form asp-controller="Home" asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="card border-dark mb-3" style="max-width: 70rem;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-header text-dark col-xs-12 col-sm-12 col-md-12 col-lg-12 form-inline">
                <h4 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Edit the data</h4>
            </div>
            <div class="card-body text-dark">
                @Html.HiddenFor(model => model.CandidateId)
                <div class="row">
                    <div class="form-group form-inline col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label asp-for="FirstName" class="control-label font-weight-bold col-xs-4 col-sm-4 col-md-4 col-lg-4"></label>
                        <div class="form-inline input-group col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group form-inline col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label asp-for="LastName" class="control-label font-weight-bold col-xs-4 col-sm-4 col-md-4 col-lg-4"></label>
                        <div class="form-inline input-group col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-inline col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label asp-for="EmailAdress" class="control-label font-weight-bold col-xs-4 col-sm-4 col-md-4 col-lg-4"></label>
                        <div class="col-md-8 form-inline input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input asp-for="EmailAdress" class="form-control" />
                        </div>
                        @Html.HiddenFor(model => model.EmailMessage)
                        @if (!string.IsNullOrEmpty(Model.EmailMessage) && !Model.EmailMessage.Equals("right"))
                        {
                            <span class="text-danger font-weight-bold areas-message text-right">@Model.EmailMessage</span>
                        }
                        <span asp-validation-for="EmailAdress" class="text-danger font-weight-bold areas-message text-right"></span>
                    </div>

                    <div class="form-group form-inline col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label asp-for="PhoneNumber" class="control-label font-weight-bold col-xs-4 col-sm-4 col-md-4 col-lg-4"></label>
                        <div class="col-md-8 form-inline input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark"><i class="fas fa-phone"></i></span>
                            </div>
                            <input asp-for="PhoneNumber" id="phone" class="form-control" disabled />
                        </div>
                        @Html.HiddenFor(model => model.PhoneNumber)
                        <span asp-validation-for="PhoneNumber" class="text-danger font-weight-bold areas-message text-right alert-info"></span>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group form-inline col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label asp-for="ResidentialZipCode" class="control-label font-weight-bold col-xs-4 col-sm-4 col-md-4 col-lg-4"></label>
                        <div class="col-md-8 form-inline input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-dark"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <input asp-for="ResidentialZipCode" id="phoneNumber" class="form-control" />
                        </div>
                        <span asp-validation-for="ResidentialZipCode" class="text-danger font-weight-bold areas-message text-right"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="save" type="submit" value="Edit" class="btn btn-outline-secondary">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">
</script>